<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cszbar" version="1.3.3-OS6">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>ZBar barcode scanner</name>
    <author>TJ Woon (tj@cloudsky.org)</author>
    <description>Plugin to integrate with the ZBar barcode scanning library.</description>
    <license>Apache 2.0</license>
    <keywords>cszbar,zbar,barcode,qr,qr code,scanner</keywords>

    <js-module src="www/zbar.js" name="zBar">
        <clobbers target="cloudSky.zBar" />
    </js-module>

    <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CsZBar">
                <param name="android-package" value="com.dealrinc.gmvScanner.CDVAndroidScanner"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="app/src/main/AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file parent="application" target="app/src/main/AndroidManifest.xml">
            <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
            <meta-data
                    android:name="com.google.android.gms.vision.DEPENDENCIES"
                    android:value="barcode" />

            <activity android:label="@string/title_activity_main" android:name="com.dealrinc.gmvScanner.SecondaryActivity"/>
            <activity android:label="Read Barcode" android:name="com.dealrinc.gmvScanner.BarcodeCaptureActivity" android:theme="@style/Theme.AppCompat.Light"/>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
            <meta-data
                    android:name="com.google.android.gms.vision.DEPENDENCIES"
                    android:value="barcode" />

            <activity android:label="@string/title_activity_main" android:name="com.dealrinc.gmvScanner.SecondaryActivity"/>
            <activity android:label="Read Barcode" android:name="com.dealrinc.gmvScanner.BarcodeCaptureActivity" android:theme="@style/Theme.AppCompat.Light"/>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="ok">OK</string>
            <string name="permission_camera_rationale">Access to the camera is needed for detection</string>
            <string name="no_camera_permission">This application cannot run because it does not have the camera permission.  The application will now exit.</string>
            <string name="low_storage_error">Face detector dependencies cannot be downloaded due to low device storage</string>
            <string name="title_activity_main">Barcode Reader Activity</string>
            <string name="barcode_header">Click &quot;Read Barcode&quot; to read a barcode</string>
            <string name="read_barcode">Read Barcode</string>
            <string name="auto_focus">Auto Focus</string>
            <string name="use_flash">Use Flash</string>
            <string name="barcode_success">Barcode read successfully</string>
            <string name="barcode_failure">No barcode captured</string>
            <string name="barcode_error">"Error reading barcode: %1$s"</string>
        </config-file>

        <source-file src="android/src/gmvScanner/BarcodeCaptureActivity.java"
                     target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="android/src/gmvScanner/BarcodeGraphic.java"
                     target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="android/src/gmvScanner/BarcodeGraphicTracker.java"
                     target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="android/src/gmvScanner/CentralBarcodeFocusingProcessor.java"
                     target-dir="src/com/dealrinc/gmvScanner"/>
        <source-file src="android/src/gmvScanner/CDVAndroidScanner.java"
                     target-dir="src/com/dealrinc/gmvScanner"/>

        <source-file src="android/src/gmvScanner/ui/camera/CameraSource.java"
                     target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>
        <source-file src="android/src/gmvScanner/ui/camera/CameraSourcePreview.java"
                     target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>
        <source-file src="android/src/gmvScanner/ui/camera/GraphicOverlay.java"
                     target-dir="src/com/dealrinc/gmvScanner/ui/camera"/>

        <resource-file src="android/res/layout/barcode_capture.xml"
                       target="res/layout/barcode_capture.xml"/>

        <resource-file src="android/res/drawable/flashlight.png"
                       target="res/drawable/flashlight.png"/>
        <resource-file src="android/res/drawable/rounded_rectangle.xml"
                       target="res/drawable/rounded_rectangle.xml"/>
        <resource-file src="android/res/drawable/torch_active.xml"
                       target="res/drawable/torch_active.xml"/>
        <resource-file src="android/res/drawable/torch_inactive.xml"
                       target="res/drawable/torch_inactive.xml"/>


        <framework src="com.android.support:support-v4:27.1.0" />
        <framework src="com.google.android.gms:play-services-vision:11.0.1" />
        <framework src="com.android.support:design:27.1.0" />
            
        <framework src="android/build-extras.gradle" custom="true" type="gradleReference"/>

        <!-- <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CsZBar">
                <param name="android-package" value="org.cloudsky.cordovaPlugins.ZBar"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                android:name="org.cloudsky.cordovaPlugins.ZBarScannerActivity"
                android:screenOrientation="fullUser"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <config-file target="res/values/strings.xml" parent="/*">
            <string name="csZbarScannerTitle">Scan QR Code</string>
            <string name="csZbarScannerInstructions">Please point your camera at the QR code.</string>
            <color name="csZbarScannerTextColor">#ffffff</color>
            <color name="csZbarScannerTextBackground">#88000000</color>
            <color name="csZbarScannerBackground">#000000</color>
        </config-file>
        <framework src="com.android.support:support-v4:28.0.0" />
        <resource-file src="android/res/layout/cszbarscanner.xml" target="res/layout/cszbarscanner.xml" />
        <source-file src="android/ZBarcodeFormat.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/ZBar.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/ZBarScannerActivity.java" target-dir="src/org/cloudsky/cordovaPlugins" />
        <source-file src="android/libs/zbar.jar" target-dir="libs" />
        <source-file src="android/libs/armeabi/libiconv.so" target-dir="libs/armeabi" />
        <source-file src="android/libs/armeabi/libzbarjni.so" target-dir="libs/armeabi" />
        <source-file src="android/libs/armeabi-v7a/libiconv.so" target-dir="libs/armeabi-v7a" />
        <source-file src="android/libs/armeabi-v7a/libzbarjni.so" target-dir="libs/armeabi-v7a" />
        <source-file src="android/libs/arm64-v8a/libiconv.so" target-dir="libs/arm64-v8a" />
        <source-file src="android/libs/arm64-v8a/libzbarjni.so" target-dir="libs/arm64-v8a" />s
        <source-file src="android/libs/x86/libiconv.so" target-dir="libs/x86" />
        <source-file src="android/libs/x86/libzbarjni.so" target-dir="libs/x86" />
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable"/>
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable-hdpi"/>
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable-ldpi"/>
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable-mdpi"/>
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable-xhdpi"/>
        <source-file src="android/res/drawable/camera_flash.png" target-dir="res/drawable-xxhdpi"/> -->
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CsZBar">
                <param name="ios-package" value="BarcodeScanner"/>
            </feature>
        </config-file>
        
        <dependency url="https://github.com/agoncalvesos/cordova-plugin-add-swift-support" commit="513e43f94ae94ad609d49f24e7dca23a4c358095" id="cordova-plugin-add-swift-support"/>

        <!-- Declare Camera Usage for iOS10+ -->
        <preference name="CAMERA_USAGE_DESCRIPTION" default="We access your camera to scan barcodes." />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        
        <source-file src="ios/BarcodeScanner.swift" />
        <source-file src="ios/BarcodeScannerController.swift" />
        <resource-file src="ios/img/ios7-bolt-white.png" target="ios7-bolt-white.png"/>
        <resource-file src="ios/img/ios7-bolt-outline-white.png" target="ios7-bolt-outline-white.png"/>
        <resource-file src="ios/img/ios7-close-empty-white.png" target="ios7-close-empty-white.png"/>
    </platform>

</plugin>
